In [12]:
import os
import pandas as pd

# Specify the paths to both bronze layer directories
bronze_layer_dirs = ['../data-lake/bronze/fred/']

# Iterate through each directory
for bronze_layer_dir in bronze_layer_dirs:
    print(f"Processing directory: {bronze_layer_dir}\n")

    # Ensure the directory exists
    if not os.path.exists(bronze_layer_dir):
        print(f"Directory {bronze_layer_dir} does not exist. Skipping...\n")
        continue

    # Iterate through all files in the directory
    for file_name in os.listdir(bronze_layer_dir):
        if file_name.endswith('.csv'):
            try:
                file_path = os.path.join(bronze_layer_dir, file_name)

                # Read the CSV file
                data = pd.read_csv(file_path)

                # Display file name, column names, data types, and sample data
                print(f"File: {file_name}")
                print("Column Names and Data Types:")
                print(data.dtypes)
                print("\nSample Data:")
                print(data.head(50))
                print("\n" + "=" * 50 + "\n")

            except Exception as e:
                # Handle errors that occur during file reading
                print(f"Error reading file {file_name}: {e}")

    print("=" * 200 + "\n")

Processing directory: ../data-lake/bronze/fred/

File: raw_FEDFUNDS.csv
Column Names and Data Types:
Date      object
Value    float64
dtype: object

Sample Data:
          Date  Value
0   1954-07-01   0.80
1   1954-08-01   1.22
2   1954-09-01   1.07
3   1954-10-01   0.85
4   1954-11-01   0.83
5   1954-12-01   1.28
6   1955-01-01   1.39
7   1955-02-01   1.29
8   1955-03-01   1.35
9   1955-04-01   1.43
10  1955-05-01   1.43
11  1955-06-01   1.64
12  1955-07-01   1.68
13  1955-08-01   1.96
14  1955-09-01   2.18
15  1955-10-01   2.24
16  1955-11-01   2.35
17  1955-12-01   2.48
18  1956-01-01   2.45
19  1956-02-01   2.50
20  1956-03-01   2.50
21  1956-04-01   2.62
22  1956-05-01   2.75
23  1956-06-01   2.71
24  1956-07-01   2.75
25  1956-08-01   2.73
26  1956-09-01   2.95
27  1956-10-01   2.96
28  1956-11-01   2.88
29  1956-12-01   2.94
30  1957-01-01   2.84
31  1957-02-01   3.00
32  1957-03-01   2.96
33  1957-04-01   3.00
34  1957-05-01   3.00
35  1957-06-01   3.00
36  1957-07-01   2.99
37  1957-08-01   3.24
38  1957-09-01   3.47
39  1957-10-01   3.50
40  1957-11-01   3.28
41  1957-12-01   2.98
42  1958-01-01   2.72
43  1958-02-01   1.67
44  1958-03-01   1.20
45  1958-04-01   1.26
46  1958-05-01   0.63
47  1958-06-01   0.93
48  1958-07-01   0.68
49  1958-08-01   1.53

==================================================

File: raw_UNRATE.csv
Column Names and Data Types:
Date      object
Value    float64
dtype: object

Sample Data:
          Date  Value
0   1948-01-01    3.4
1   1948-02-01    3.8
2   1948-03-01    4.0
3   1948-04-01    3.9
4   1948-05-01    3.5
5   1948-06-01    3.6
6   1948-07-01    3.6
7   1948-08-01    3.9
8   1948-09-01    3.8
9   1948-10-01    3.7
10  1948-11-01    3.8
11  1948-12-01    4.0
12  1949-01-01    4.3
13  1949-02-01    4.7
14  1949-03-01    5.0
15  1949-04-01    5.3
16  1949-05-01    6.1
17  1949-06-01    6.2
18  1949-07-01    6.7
19  1949-08-01    6.8
20  1949-09-01    6.6
21  1949-10-01    7.9
22  1949-11-01    6.4
23  1949-12-01    6.6
24  1950-01-01    6.5
25  1950-02-01    6.4
26  1950-03-01    6.3
27  1950-04-01    5.8
28  1950-05-01    5.5
29  1950-06-01    5.4
30  1950-07-01    5.0
31  1950-08-01    4.5
32  1950-09-01    4.4
33  1950-10-01    4.2
34  1950-11-01    4.2
35  1950-12-01    4.3
36  1951-01-01    3.7
37  1951-02-01    3.4
38  1951-03-01    3.4
39  1951-04-01    3.1
40  1951-05-01    3.0
41  1951-06-01    3.2
42  1951-07-01    3.1
43  1951-08-01    3.1
44  1951-09-01    3.3
45  1951-10-01    3.5
46  1951-11-01    3.5
47  1951-12-01    3.1
48  1952-01-01    3.2
49  1952-02-01    3.1

==================================================

File: raw_CPIAUCSL.csv
Column Names and Data Types:
Date      object
Value    float64
dtype: object

Sample Data:
          Date  Value
0   1947-01-01  21.48
1   1947-02-01  21.62
2   1947-03-01  22.00
3   1947-04-01  22.00
4   1947-05-01  21.95
5   1947-06-01  22.08
6   1947-07-01  22.23
7   1947-08-01  22.40
8   1947-09-01  22.84
9   1947-10-01  22.91
10  1947-11-01  23.06
11  1947-12-01  23.41
12  1948-01-01  23.68
13  1948-02-01  23.67
14  1948-03-01  23.50
15  1948-04-01  23.82
16  1948-05-01  24.01
17  1948-06-01  24.15
18  1948-07-01  24.40
19  1948-08-01  24.43
20  1948-09-01  24.36
21  1948-10-01  24.31
22  1948-11-01  24.16
23  1948-12-01  24.05
24  1949-01-01  24.01
25  1949-02-01  23.91
26  1949-03-01  23.91
27  1949-04-01  23.92
28  1949-05-01  23.91
29  1949-06-01  23.92
30  1949-07-01  23.70
31  1949-08-01  23.70
32  1949-09-01  23.75
33  1949-10-01  23.67
34  1949-11-01  23.70
35  1949-12-01  23.61
36  1950-01-01  23.51
37  1950-02-01  23.61
38  1950-03-01  23.64
39  1950-04-01  23.65
40  1950-05-01  23.77
41  1950-06-01  23.88
42  1950-07-01  24.07
43  1950-08-01  24.20
44  1950-09-01  24.34
45  1950-10-01  24.50
46  1950-11-01  24.60
47  1950-12-01  24.98
48  1951-01-01  25.38
49  1951-02-01  25.83

==================================================

File: raw_DGS10.csv
Column Names and Data Types:
Date      object
Value    float64
dtype: object

Sample Data:
          Date  Value
0   1962-01-02   4.06
1   1962-01-03   4.03
2   1962-01-04   3.99
3   1962-01-05   4.02
4   1962-01-08   4.03
5   1962-01-09   4.05
6   1962-01-10   4.07
7   1962-01-11   4.08
8   1962-01-12   4.08
9   1962-01-15   4.10
10  1962-01-16   4.13
11  1962-01-17   4.12
12  1962-01-18   4.11
13  1962-01-19   4.11
14  1962-01-22   4.09
15  1962-01-23   4.11
16  1962-01-24   4.10
17  1962-01-25   4.11
18  1962-01-26   4.11
19  1962-01-29   4.12
20  1962-01-30   4.11
21  1962-01-31   4.10
22  1962-02-01   4.09
23  1962-02-02   4.08
24  1962-02-05   4.07
25  1962-02-06   4.06
26  1962-02-07   4.07
27  1962-02-08   4.07
28  1962-02-09   4.05
29  1962-02-12    NaN
30  1962-02-13   4.03
31  1962-02-14   4.03
32  1962-02-15   4.02
33  1962-02-16   4.02
34  1962-02-19   4.01
35  1962-02-20   4.05
36  1962-02-21   4.03
37  1962-02-22    NaN
38  1962-02-23   4.02
39  1962-02-26   4.00
40  1962-02-27   4.01
41  1962-02-28   4.00
42  1962-03-01   3.98
43  1962-03-02   3.98
44  1962-03-05   4.00
45  1962-03-06   4.01
46  1962-03-07   4.00
47  1962-03-08   3.98
48  1962-03-09   3.96
49  1962-03-12   3.94

==================================================

File: raw_GDP.csv
Column Names and Data Types:
Date      object
Value    float64
dtype: object

Sample Data:
          Date    Value
0   1946-01-01      NaN
1   1946-04-01      NaN
2   1946-07-01      NaN
3   1946-10-01      NaN
4   1947-01-01  243.164
5   1947-04-01  245.968
6   1947-07-01  249.585
7   1947-10-01  259.745
8   1948-01-01  265.742
9   1948-04-01  272.567
10  1948-07-01  279.196
11  1948-10-01  280.366
12  1949-01-01  275.034
13  1949-04-01  271.351
14  1949-07-01  272.889
15  1949-10-01  270.627
16  1950-01-01  280.828
17  1950-04-01  290.383
18  1950-07-01  308.153
19  1950-10-01  319.945
20  1951-01-01  336.000
21  1951-04-01  344.090
22  1951-07-01  351.385
23  1951-10-01  356.178
24  1952-01-01  359.820
25  1952-04-01  361.030
26  1952-07-01  367.701
27  1952-10-01  380.812
28  1953-01-01  387.980
29  1953-04-01  391.749
30  1953-07-01  391.171
31  1953-10-01  385.970
32  1954-01-01  385.345
33  1954-04-01  386.121
34  1954-07-01  390.996
35  1954-10-01  399.734
36  1955-01-01  413.073
37  1955-04-01  421.532
38  1955-07-01  430.221
39  1955-10-01  437.092
40  1956-01-01  439.746
41  1956-04-01  446.010
42  1956-07-01  451.191
43  1956-10-01  460.463
44  1957-01-01  469.779
45  1957-04-01  472.025
46  1957-07-01  479.490
47  1957-10-01  474.864
48  1958-01-01  467.540
49  1958-04-01  471.978

==================================================

========================================================================================================================================================================================================

In [2]:
import os
import pandas as pd

# Define the directory containing the CSV files
csv_directory = "../data-lake/bronze/kaggle/"

# List all CSV files in the directory
csv_files = [file for file in os.listdir(csv_directory) if file.endswith('.csv')]

# Loop through each CSV file and print sample data
for csv_file in csv_files:
    file_path = os.path.join(csv_directory, csv_file)
    print(f"Sample data from file: {csv_file}")
    sample_data = pd.read_csv(file_path).head()  # Read the first 5 rows of the file
    print(sample_data)
    print("\n")

Sample data from file: 20241218_sp500_companies.csv
  Exchange Symbol              Shortname               Longname  \
0      NMS   AAPL             Apple Inc.             Apple Inc.
1      NMS   MSFT  Microsoft Corporation  Microsoft Corporation
2      NMS   NVDA     NVIDIA Corporation     NVIDIA Corporation
3      NMS   AMZN       Amazon.com, Inc.       Amazon.com, Inc.
4      NMS   GOOG          Alphabet Inc.          Alphabet Inc.

                   Sector                        Industry  Currentprice  \
0              Technology            Consumer Electronics        253.48
1              Technology       Software - Infrastructure        454.46
2              Technology                  Semiconductors        130.39
3       Consumer Cyclical                 Internet Retail        231.15
4  Communication Services  Internet Content & Information        197.12

       Marketcap        Ebitda  Revenuegrowth           City State  \
0  3831552802816  1.346610e+11          0.061      Cupertino    CA
1  3378855542784  1.365520e+11          0.160        Redmond    WA
2  3193251037184  6.118400e+10          1.224    Santa Clara    CA
3  2430542282752  1.115830e+11          0.110        Seattle    WA
4  2402932228096  1.234700e+11          0.151  Mountain View    CA

         Country  Fulltimeemployees  \
0  United States           164000.0
1  United States           228000.0
2  United States            29600.0
3  United States          1551000.0
4  United States           181269.0

                                 Longbusinesssummary    Weight
0  Apple Inc. designs, manufactures, and markets ...  0.067521
1  Microsoft Corporation develops and supports so...  0.059544
2  NVIDIA Corporation provides graphics and compu...  0.056273
3  Amazon.com, Inc. engages in the retail sale of...  0.042832
4  Alphabet Inc. offers various products and plat...  0.042346


Sample data from file: 20241218_sp500_stocks.csv
         Date Symbol  Adj Close      Close       High        Low       Open  \
0  2010-01-04    MMM  43.783867  69.414719  69.774246  69.122070  69.473244
1  2010-01-05    MMM  43.509632  68.979935  69.590302  68.311035  69.230766
2  2010-01-06    MMM  44.126652  69.958191  70.735786  69.824417  70.133781
3  2010-01-07    MMM  44.158318  70.008362  70.033447  68.662209  69.665550
4  2010-01-08    MMM  44.469490  70.501671  70.501671  69.648827  69.974915

      Volume
0  3640265.0
1  3405012.0
2  6301126.0
3  5346240.0
4  4073337.0


Sample data from file: 20241218_sp500_index.csv
         Date   S&P500
0  2014-12-17  2012.89
1  2014-12-18  2061.23
2  2014-12-19  2070.65
3  2014-12-22  2078.54
4  2014-12-23  2082.17